# =============== #
# Unity generated #
# =============== #

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Packages/com.unity.package-manager-ui/

# Ignore Unity cache and meta files
*.pidb
*.suo
*.user
*.userprefs
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# =============== #
# OS-specific #
# =============== #

# macOS
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# =============== #
# Version control #
# =============== #

# Ignore the JetBrains Rider IDE project files
.idea/
*.sln.iml

# Ignore Visual Studio project files
.vscode/
.vs/
*.csproj
*.unityproj
*.sln
*.suo

# ================== #
# TextMesh Pro Files #
# ================== #
TextMeshPro/

# =============== #
# Crash reports #
# =============== #
sysinfo.txt